:root {
    --main-color: #fcb900;
    --green-main: #84BE43;
}



body {
    font-family: "KoHo Regular";
    font-size: 16px;
    font-weight: 400;
    color: #000;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media screen and (min-width: 1000px) {
    ::-webkit-scrollbar {
        width: 10px; /* Ширина скроллбара */
    }
    
    ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Цвет фона трека */
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--green-main); /* Цвет ползунка */
        border-radius: 10px; /* Радиус скругления углов */
        border: 3px solid #f1f1f1; /* Внутренний отступ */
        
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: var(--green-main) ; /* Цвет ползунка при наведении */
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 20px;
        padding: 0px 30px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
        overflow: hidden;
        transition: padding-left 0.3s ease;
    }

    .main-title {
        font-family: "drukcur";
        font-size: 40px;
        color: #fff;
        text-shadow: 0px 0px 30px #000;
        margin: auto;
    }

    .wrapper.active { 
        padding-left: 0px;
    }

    .all-title { 
        font-size: 38px;
        text-align: center;
        font-family: "drukcur";
        color: #000;
    }

    .anchor__button { 
        
        max-width: 250px;
        text-align: center;
        font-size: 24px;
        font-family: "TildaSans";
        
        margin: 0 auto;
        color: #fff;
        font-weight: 600;
    }

    .anchor__button button { 
        padding: 10px 20px;
        background-color: var(--main-color);
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.2);
        transition: all 0.3s ease;
    }

    .anchor__button button:hover { 
        scale: 1.01;
        box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    }
}

@media screen and (max-width: 999px) {
    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 15px;
        padding: 0px 15px;
    }

    .main-title {
        font-family: "drukcur";
        font-size: 32px;
        color: #fff;
        text-shadow: 0px 0px 30px #000;
        margin: 100px auto auto auto;
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }

    .anchor__button { 
        
        max-width: 250px;
        text-align: center;
        font-size: 24px;
        font-family: "TildaSans";
        
        margin: 0 auto;
        color: #fff;
        font-weight: 600;
    }

    .anchor__button button { 
        padding: 10px 20px;
        background-color: var(--main-color);
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    }
    
    .all-title { 
        font-size: 28px;
        text-align: center;
        font-family: "drukcur";
        color: #000;
    }
}

/* header */

@media screen and (min-width: 1000px) {
    .header {
        background-color: var(--main-color);
        position: fixed;
        top: 0px;
        left: -250px;
        width: 250px;
        height: 100vh;
        box-shadow: 0 30%;
        transition: all 0.3s ease;
        box-shadow: 4px 0px 30px rgba(14, 46, 87, 0);
        z-index: 999;
    }

    .header.active {
        box-shadow: 4px 0px 30px rgba(14, 46, 87, 0.3);
        left: 0px;
    }

    .header__container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 20px 15px;
    }

    .header__logo img {
        width: 110px;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .header__list li {
        text-align: center;
    }

    .header__list__item {
        font-size: 20px;
        color: #000;
        position: relative;
        transition: all ease 0.3s;
    }

    .header__list__item::after {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 0%;
        height: 0px;
        background-color: #000;
        left: 0px;
        transition: all ease 0.3s;
    }

    .header__list__item.active::after {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #000;
        left: 0px;
    }

    .header__contact p {
        font-family: "KoHo Italic";
        font-size: 20px;
    }

    /* ----------------------------------- */

    .panel {
        position: fixed;
        top: 20px;
        left: 154px;
        z-index: 1000;
        border: none;
        
    }

    .header__button {
        border: none;
        border-radius: 50%;
        color: #0e2e57;
        font-size: 30px;
        width: 40px;
        height: 40px;
        background: rgba(255,255,255,.6);
        backdrop-filter: blur(2px);
        padding: 5px;
        cursor: pointer;
        left: -90px;
        position: relative;
        transform: translateX(18px);
        transition: all 0.3s ease;
        z-index: 500;
    }

    .circle__button {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #000;
        z-index: -1;
    }

    .circle__button.show {
        display: block;
    }

    .header__button.active {
        left: 50px;
        background: none;
        transform: translateX(-10px);
    }

    .line {
        display: block;
        width: 70%;
        height: 2px;
        left: 15%;
        background-color: var(--main-color);
        position: absolute;
        transition: transform 0.3s, top 0.3s, background-color 0.3s ease;
    }

    .line:nth-child(1) {
        top: 10px;
    }

    .line:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .line:nth-child(3) {
        bottom: 10px;
    }

    .header__button.active .line:nth-child(1) {
        transform: rotate(45deg);
        top: 19px;

        background-color: #0e2e57;
    }

    .header__button.active .line:nth-child(2) {
        display: none;
    }

    .header__button.active .line:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 18px;
        background-color: #0e2e57;
    }

    .line.blue {
        background-color: var(--main-blue);
    }
}

@media screen and (max-width: 999px) {
    .header {
        background-color: var(--green-main);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 60px;

        transition: all 0.3s ease;
        box-shadow: 0px 4px 30px rgba(14, 46, 87, 0.3);
        display: flex;
        border-radius: 0px 0px 15px 15px;
        z-index: 1000;
    }

    .header.active {
        left: 0px;
    }

    .header__container {
        background-color: var(--green-main);
        display: flex;
        flex-direction: column;
        
        margin: auto 0;
        width: 100%;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 5px 15px;
        box-shadow: 0px 4px 30px rgba(14, 46, 87, 0.3);
        border-radius: 0px 0px 15px 15px;
    }

    .header__logo img {
        height: 50px;
    }

    .header__list {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .header__list li {
        text-align: center;
    }

    .header__list__item {
        font-size: 20px;
        color: #000;
        position: relative;
        transition: all ease 0.3s;
    }

    .header__list__item::after {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 0%;
        height: 0px;
        background-color: #000;
        left: 0px;
        transition: all ease 0.3s;
    }

    .header__list__item.active::after {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #000;
        left: 0px;
    }

    .header__contact p {
        font-family: "KoHo Italic";
        font-size: 20px;
        text-align: center;
    }

    /* ----------------------------------- */

    .panel {
        position: fixed;
        top: 10px;
        right: 4px;
        z-index: 1001;
        border: none;
    }

    .header__button {
        border: none;
        border-radius: 50%;
        color: #0e2e57;
        font-size: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;

        position: relative;

        transition: all 0.3s ease;
        z-index: 500;
    }

    .circle__button {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #000;
        z-index: -1;
    }

    .circle__button.show {
        display: block;
    }

    .line {
        display: block;
        width: 70%;
        height: 2px;
        left: 15%;
        background-color: #000;
        position: absolute;
        transition: transform 0.3s, top 0.3s, background-color 0.3s ease;
    }

    .line:nth-child(1) {
        top: 10px;
    }

    .line:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .line:nth-child(3) {
        bottom: 10px;
    }

    .header__button.active .line:nth-child(1) {
        transform: rotate(45deg);
        top: 19px;

        background-color: #0e2e57;
    }

    .header__button.active .line:nth-child(2) {
        display: none;
    }

    .header__button.active .line:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 18px;
        background-color: #0e2e57;
    }

    .line.blue {
        background-color: var(--main-blue);
    }
}

/* title */
@media screen and (min-width: 1000px) {
    .title__container {
        min-height: calc(100vh + 10px);
    }

    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 999px) {
    .title__container {
        margin-top: 40px;
        min-height: calc(100vh + 10px);
    }

    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* about-us */
@media screen and (min-width: 1000px) {
    .about__container { 
        margin-top: -70px;
        background-color: #fff;
        border-radius: 15px 15px 15px 15px ;
        padding-bottom: 20px;
        z-index: 11;
        
    }

    .about__title { 
        padding-top: 20px;
    }

    .about__content { 
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 15px;
        
    }

    .about__info { 
        display: flex;
        gap: 15px;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 500;
        
    }

    .about__info p { 
        width: 100%;
        text-align: justify;
    }

    .about__image__container { 
        width: 100%;
    }

    .about__info img { 
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0,0,0,.2);
        width: 100%;
        max-width: 50vw;
    }

    .about__info span { 
        text-decoration: underline;
        font-weight: 600;
    }
    
    .about__info__undertext p { 
        text-align: center;
    }
}

@media screen and (max-width: 999px) {
    .about__container { 
        margin-top: -60px;
        background-color: #fff;
        border-radius: 15px 15px 15px 15px ;
        z-index: 11;
        padding-bottom: 20px;
        
    }

    .about__title { 
        padding-top: 20px;
    }

    .about__content { 
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 15px;
        
    }

    .about__info { 
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        
    }

    .about__info p { 
        width: 100%;
        text-align: justify;
    }

    .about__image__container { 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about__info img { 
        border-radius: 15px;
        box-shadow: 5px 5px 10px rgba(0,0,0,.2);
        width: 100%;
        
    }

    .about__info span { 
        text-decoration: underline;
        font-weight: 600;
    }
    
    .about__info__undertext p { 
        text-align: center;
    }
}

/* benef */

@media screen and (min-width: 1000px) {
    .benef-title { 
        color: #f1f1f1;
        text-shadow: 0px 0px 10px rgba(255,255,255,.1);
        padding: 20px 0px 0px 0px;
    }

    .benefits__container { 
        background-color: rgba(0,0,0,.3);
        color: #fff;
        font-family: "TildaSans";
        padding: 60px 30px 60px 30px;
        margin-top: 0px;
    }

    .benefits__title { 
        font-size: 24px;
        margin: 20px 0px 0px 0px;
        font-weight: 600;
        text-align: center;
        text-wrap: nowrap;
    }

    .benefits__points { 
        display: grid;
        margin-top: 30px;
        grid-template-columns: repeat(5, 1fr);
        gap: 0px 40px;
        justify-content: space-between;
    }

    .benefits__point { 
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

    }

    .benefits__point__image { 
        position: relative;
        width: max-content;
        padding: 5px;
        z-index: 101;
    }

    .benefits__point__image::after { 
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,.54);
        top: -15%;
        left: -15%;
        border: 2px solid var(--main-color);
        width: 130%;
        height: 130%;
        transform: rotate(-45deg);
        box-shadow: 0px 0px 10px rgba(0, 0, 0,.54);
        z-index: 100;
    }

    .benefits__point__image img { 
        width: 50px;
        z-index: 101;
        position: relative;
    }

    .benefits__point p  { 
        font-size: 18px;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.4;
        text-shadow: 1px 1px 5px rgba(0, 0, 0,.54);
    }


}

@media screen and (max-width: 999px) {
    .benef-title { 
        color: #f1f1f1;
        text-shadow: 0px 0px 10px rgba(255,255,255,.1);
        padding: 20px 0px 0px 0px;
    }

    .benefits__container { 
        background-color: rgba(0,0,0,0.45);
        color: #fff;
        font-family: "TildaSans";
        padding-bottom: 30px;
        margin-top: 0px;
        
    }

    .benefits__title { 
        font-size: 24px;
        margin: 40px 0px 0px 0px;
        font-weight: 600;
        text-align: center;
        text-wrap: nowrap;
    }

    .benefits__points { 
        display: grid;
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px 0px;
        justify-content: space-between;
    }

    .benefits__point { 
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

    }

    .benefits__point__image { 
        position: relative;
        width: max-content;
        padding: 5px;
        z-index: 101;
    }

    .benefits__point__image::after { 
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,.54);
        top: -15%;
        left: -15%;
        border: 2px solid var(--main-color);
        width: 130%;
        height: 130%;
        transform: rotate(-45deg);
        box-shadow: 0px 0px 10px rgba(0, 0, 0,.54);
        z-index: 100;
    }

    .benefits__point__image img { 
        width: 50px;
        z-index: 101;
        position: relative;
    }

    .benefits__point p  { 
        font-size: 18px;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.4;
        text-shadow: 1px 1px 5px rgba(0, 0, 0,.54);
    }
}

/* products */

@media screen and (min-width: 1000px) {
    .products__list { 
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    .product__item { 
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        background: #f6f6f6;
        border: 0.5px solid var(--main-color);
        padding: 15px 30px;
        border-radius: 15px;
        box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    }

    .product__title { 
        font-family: "TildaSans";
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .product__image { 
        display: flex;
        max-width: 20vw;
    }

    .product__image img { 
        width: 100%;
        height: 100%;
    }

    .product__image.slick-slider .slick-track { 
        display: flex;
        align-items: center;
    }

    .product__image.slick-slider .slick-arrow { 
        width: 28px;
        height: 28px;
    }

    .product__image.slick-slider .slick-arrow::before { 
        color: var(--main-color);
        font-size: 28px;
    }

    .product__image.slick-slider .slick-dots li button::before { 
        color: var(--main-color);
    }

    .product__disc { 
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .product__disc::before { 
        content: "";
        position: absolute;
        height: 0.5px;
        width: 70%;
        background: linear-gradient(to right, #000, #353535);
        top: -7.5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .product__disc__row { 
        display: flex;
        justify-content: space-between;
    }

    .product__disc__row img { 
        width: 20px;
    }

    .product__button__more { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "KoHo Bold Italic";
    }

    .product__more__image { 
        width: 40px;
        animation: jump 1s infinite;
        transition: all ease 0.3s;
    }

    @keyframes jump {
        0% {
            transform: translateY(0px);
        }
        30% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    .product__button__foot { 
        font-size: 18px;
    }

    /* ---------------------------------------------------- */

    .product__disc__menu { 
        position: fixed;
        display: flex;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.3);
        backdrop-filter: blur(4px);
        transform: translateX(0vw);
        transition: all 0.3s ease;
        opacity: 0;
        z-index: -1;
    }

    .product__disc__menu.active { 
        z-index: 9999;
        transform: translateX(0px);
        opacity: 1;
    }

    .product__disc__menu__container { 
        width: 800px;
        height: 500px;
        padding: 15px 30px;
        margin: auto;
        display: flex;
        border: 1px solid #000;
        position: relative;
        background-color: #fff;
    }

    .product__types { 
        position: absolute;
        
        display: flex;
        gap: 10px;
        top: 0px;
        left: -0.5px;
        
        transform: translateY(-100%);
    }

    .product__type { 
        background-color: #dbdbdb;
        border: 1px solid #000;
        margin-bottom: 2px;
        padding: 2px 10px;
        cursor: pointer;
        font-family: "TildaSans";
        font-size: 18px;
        border-radius: 15px;
        transition: all ease-out 0.3s;
        position: relative;
        user-select: none;
    }

    .product__type.active { 
        border-bottom: none;
        margin-bottom: 0px;
        background-color: #fff;
        border-radius: 15px 15px 0px 0px;
    }

    #closeProductMenu img { 
        width: 40px;
        position: absolute;
        top: 10%;
        right: 10%;

    }

    .product__image__menu { 
        display: flex;
        max-width: 20vw;
        max-height: 50%;
    }

    .product__image__menu img { 
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .product__image__menu.slick-slider .slick-arrow { 
        width: 28px;
        height: 28px;
    }

    .product__image__menu.slick-slider .slick-arrow::before { 
        color: var(--main-color);
        font-size: 28px;
    }

    .product__image__menu.slick-slider .slick-dots li button::before { 
        color: var(--main-color);
    }

    .thumb-slider { 
        margin-top: 10px;
        display: flex;
        max-width: 20vw;
        height: auto;
    }
    
    .thumb-slider .slick-slide {
        margin: 0 5px;
    }
    
    .thumb-slider .slick-slide img {
        cursor: pointer;
    }

    .thumb-slider.slick-slider .slick-arrow { 
        display: none;
    }

    .product__image__menu__container { 
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .fullscreen-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
    }
    
    .fullscreen-overlay img {
        max-width: 90%;
        max-height: 90%;
    }
    
    .close-fullscreen {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: none;
        color: white;
        font-size: 42px;
        cursor: pointer;
    }

    .product__menu__disc { 
        padding: 0px 20px 0px 35px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .product__menu__tab { 
        display: none;
    }

    .product__menu__tab.active { 
        display: flex;
    }
}

@media screen and (max-width: 999px) {
    .products__list { 
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    .product__item { 
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        background: #f6f6f6;
        border: 0.5px solid var(--main-color);
        padding: 15px 30px;
        border-radius: 15px;
        box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    }

    .product__title { 
        font-family: "TildaSans";
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .product__image { 
        display: flex;
        max-width: 70vw;
    }

    .product__image img { 
        width: 100%;
        height: 100%;
    }

    .product__image.slick-slider .slick-track { 
        display: flex;
        align-items: center;
    }

    .product__image.slick-slider .slick-arrow { 
        width: 28px;
        height: 28px;
    }

    .product__image.slick-slider .slick-arrow::before { 
        color: var(--main-color);
        font-size: 28px;
    }

    .product__image.slick-slider .slick-dots li button::before { 
        color: var(--main-color);
    }

    .product__disc { 
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .product__disc::before { 
        content: "";
        position: absolute;
        height: 0.5px;
        width: 70%;
        background: linear-gradient(to right, #000, #353535);
        top: -7.5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .product__disc__row { 
        display: flex;
        justify-content: space-between;
    }

    .product__disc__row img { 
        width: 20px;
    }

    .product__button__more { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "KoHo Bold Italic";
    }

    .product__more__image { 
        width: 40px;
        animation: jump 1s infinite;
        transition: all ease 0.3s;
    }

    @keyframes jump {
        0% {
            transform: translateY(0px);
        }
        30% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    .product__button__foot { 
        font-size: 18px;
    }

    /* ---------------------------------------------------- */

    .product__disc__menu { 
        position: fixed;
        display: flex;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.3);
        backdrop-filter: blur(4px);
        transform: translateX(0vw);
        transition: all 0.3s ease;
        opacity: 0;
        z-index: -1;
    }

    .product__disc__menu.active { 
        z-index: 9999;
        transform: translateX(0px);
        opacity: 1;
    }

    .product__disc__menu__container { 
        width: 70vw;
        height: auto;
        max-height: 80vh;
        
        padding: 15px 10px;
        margin: auto;
        display: flex;
        border: 1px solid #000;
        position: relative;
        background-color: #fff;
    }

    .product__types { 
        position: absolute;
        max-width: 100%;
        overflow-x: scroll;
        display: flex;
        gap: 10px;
        top: 0px;
        left: -0.5px;
        
        transform: translateY(-100%);
    }

    .product__type { 
        background-color: #dbdbdb;
        border: 1px solid #000;
        margin-bottom: 2px;
        padding: 2px 10px;
        cursor: pointer;
        font-family: "TildaSans";
        font-size: 18px;
        border-radius: 15px;
        transition: all ease-out 0.3s;
        position: relative;
        user-select: none;
    }

    .product__type.active { 
        border-bottom: none;
        margin-bottom: 0px;
        background-color: #fff;
        border-radius: 15px 15px 0px 0px;
    }

    #closeProductMenu img { 
        width: 40px;
        position: absolute;
        top: 10%;
        right: 2%;

    }

    .product__image__menu { 
        display: flex;
        max-width: 40vw;
        
    }

    .product__image__menu img { 
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .product__image__menu.slick-slider .slick-arrow { 
        width: 28px;
        height: 28px;
    }

    .product__image__menu.slick-slider .slick-arrow::before { 
        color: var(--main-color);
        font-size: 28px;
    }

    .product__image__menu.slick-slider .slick-dots li button::before { 
        color: var(--main-color);
    }

    .thumb-slider { 
        margin-top: 10px;
        display: flex;
        max-width: 20vw;
        height: auto;
        display: none;
    }
    
    .thumb-slider .slick-slide {
        margin: 0 5px;
    }
    
    .thumb-slider .slick-slide img {
        cursor: pointer;
    }

    .thumb-slider.slick-slider .slick-arrow { 
        display: none;
    }

    .product__image__menu__container { 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .fullscreen-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
    }
    
    .fullscreen-overlay img {
        max-width: 90%;
        max-height: 90%;
    }
    
    .close-fullscreen {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: none;
        color: white;
        font-size: 42px;
        cursor: pointer;
    }

    .product__menu__disc { 
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .product__menu__tab { 
        display: none;
        max-height: 80vh;
        overflow-y: scroll;
    }

    .product__menu__tab.active { 
        display: flex;
        flex-direction: column;
    }
}

/* statistics */

@media screen and (min-width: 1000px) {
    .stat__container { 
        border: 1px solid #000;
        border-right: none;
        border-left: none;
        box-shadow: 0px 0px 20px rgba(0,0,0,.2);
        padding: 20px 30px;
    }

    .stat__list  { 
        padding: 45px 0px 20px 0px;
        display: flex;
        justify-content: space-evenly;
    }

    .stat__item { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "TildaSans";
        font-size: 20px;
    }

    .stat__item img { 
        width: 100%;
        max-width: 100px;
    }

    .stat__item__under { 
        color: #555;
        font-weight: 600;
        padding-top: 20px;
    }

    .stat__item span  { 
        font-weight: 600;
    }
}

@media screen and (max-width: 999px) {
    .stat__container { 
        border: 1px solid #000;
        border-right: none;
        border-left: none;
        box-shadow: 0px 0px 20px rgba(0,0,0,.2);
        padding: 20px 30px;
    }

    .stat__list  { 
        padding: 45px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
        justify-content: space-evenly;
    }

    .stat__item { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "TildaSans";
        font-size: 20px;
    }

    .stat__item img { 
        width: 100%;
        max-width: 100px;
    }

    .stat__item__under { 
        color: #555;
        font-weight: 600;
        padding-top: 20px;
    }

    .stat__item span  { 
        font-weight: 600;
    }
}

/* gallery */

@media screen and (min-width: 1000px) {
    .gallery__list { 
        display: flex;
        padding: 20px 0px;
    }

    .gallery__list.slick-slider .slick-slide { 
        scale: 0.9;
        transition: all ease 0.3s;
        filter: blur(2px);
    }
    
    .gallery__list.slick-slider .slick-slide img { 
        border-radius: 15px;
    }

    .gallery__list.slick-slider .slick-track { 
        display: flex;
        align-items: center;
    }

    .gallery__list.slick-slider .slick-slide.slick-current { 
        scale: 1;
        filter: blur(0px);
    }

    .gallery__item { 
        border: 1px solid #555;
        border-radius: 15px;
        
        box-shadow: 0px 0px 10px #000;
        position: relative;
    }
}

/* contact */

@media screen and (min-width: 1000px) {
    .contact-title { 
        color: #fff;
        padding-top: 25px;
    }
    
    .contact { 
        background-image: url('../img/contact.webp');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .contact__content { 
        display: flex;
        gap: 15px;

    }

    .contact__info { 
        color: #fff;
        font-size: 28px;
        font-weight: 600;
        width: 100%;
    }

    .contact__form { 
        background-color: rgba(255,255,255,.4);
        backdrop-filter: blur(4px);
        padding: 15px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        font-family: "TildaSans";
        font-size: 24px;
        color: #fff;
    }

    .contact__item { 
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

    }

    .contact__item input {
        padding: 5px 10px;
        border: 1px solid #555;
        background-color: #fff;
        color: #000;
        width: 100%;

    }

    .contact__item span { 
        color: red;
        cursor: pointer;
        position: relative;
    }

    .contact__warn { 
        display: none;
        padding: 2px 5px;
        background-color: #fff;
        border: 1px solid #000;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        color: #000;

    }

    .contact__item span:hover .contact__warn { 
        display: block;
    }
}

@media screen and (max-width: 999px) {
    .contact-title { 
        color: #fff;
        padding-top: 15px;
    }
    
    .contact { 
        background-image: url('../img/contact.webp');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 0px;
    }

    .contact__content { 
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .contact__info { 
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        width: 100%;
    }

    .contact__form { 
        background-color: rgba(255,255,255,.4);
        backdrop-filter: blur(4px);
        padding: 15px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        font-family: "TildaSans";
        font-size: 24px;
        color: #fff;
    }

    .contact__item { 
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

    }

    .contact__item input {
        padding: 5px 10px;
        border: 1px solid #555;
        background-color: #fff;
        color: #000;
        width: 100%;

    }

    .contact__item span { 
        color: red;
        cursor: pointer;
        position: relative;
    }

    .contact__warn { 
        display: none;
        padding: 2px 5px;
        background-color: #fff;
        border: 1px solid #000;
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        color: #000;

    }

    .contact__item span:hover .contact__warn { 
        display: block;
    }
}
